.no-warp{
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.blue{
  color: #5fbff9
}
.white{
  color: #fff
}


:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fff; opacity:1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #fff;opacity:1;
}

input:-ms-input-placeholder{
    color: #fff;opacity:1;
}

input::-webkit-input-placeholder{
    color: #fff;opacity:1;
}

.container.content{
  width: 1080px;
  padding: 0;
}
.notice{
  width: 1080px;
  margin: auto;
  margin-bottom: 15px;
  font-size: 14px;
  color: #4fb6fb;
}
.notice.detail{
  padding-bottom: 10px;
  border-bottom: 1px solid #5fbff9;
}
.notice a{
  color: #4fb6fb;
}
.index.tab a{

}
.goods.tab{
  width: 1080px;
  height: auto;
  background: none;
  border: 1px solid #dfdfdf;
}
.goods.tab a{
  display: inline-block;
  width: 108px;
  text-align: center;
  font-size: 14px;
  color: #666666;
}
.tab a.children{
  line-height: 44px;
}
.tab.goods a{
  display: inline-block;
  width: 108px;
  text-align: center;
}
.tab.goods a:hover{
  color: #4fb6fb;
}

li.type img{
  width: 26px;
  height: 26px;
}
li.type *{
  line-height: 54px;
}
li.items{
  border-top: 1px solid #dfdfdf;
}
ul{
  padding: 0;
}
li{
  list-style: none;
  margin: 0;
}
/*header开始*/
.header{
  height: 40px;
  line-height: 40px;
  background-color: #f4f3f4;
  color: #AAAAAA;
}
.header .content{
  margin: auto;
  width: 100%;
  max-width: 1080px;
  height: 50px;
}
/*header结束*/
/*navi开始*/
.navi-bar{
  margin-bottom: 20px;
  background-color: #5fbff9;
}
.navi-bar .content{
  width: 1080px;
  margin: auto;
}
.navi-bar a{
  display: inline-block;
  margin-left: -4px;
  width: 216px;
  text-align: center;
  line-height: 40px;
  color: #ffffff;
}
.navi-bar a:hover{
  background-color: #0999f0;
}
/*navi结束*/
.search{
  overflow: hidden;
  padding-top: 25px;
  width: 1080px;
  height: 90px;
  margin: auto;
}
.search *{
  font-size: 16px;
  color: #ffffff;
}
.search img{
  height: 56px;
}
.search a{
  display: inline-block;
  padding: 0;
  width: 110px;
  line-height: 40px;
  text-align: center;
  background-color: #5fbff9;
  background-color: #11ccd6;
}
.search .btn{
  margin-right: 10px;
  padding: 0;
  width: 110px;
  line-height: 40px;
  background-color: #5fbff9;
  border: 0;
  border-radius: 0;
}
.search input{
  height: 40px;
  border: 1px solid #5fbff9;
  border-right: 0;
}
.tab, .slider, .login{
  display: inline-block;
  vertical-align: top;
  float: left;
  height: 300px;
  margin: 0;
  padding: 0;
}
.tab{
  width: 236px;
  background-color: #5fbff9;
}
.tab a{
  font-size: 16px;
  color: #ffffff;
  line-height: 26px;
}
.tab .type{
  margin-left: 16px;
}
.tab-anchors a{
  display: inline-block;
  width: 30%;
  text-align: center;
}
.tab-title{
  display: inline-block;
  width: 236px;
  line-height: 40px;
  color: #ffffff;
  text-align: center;
  background-color: #0999f0;
}
.tab-anchors{
  margin-left: 50px;
}
.tab .news {
  color: #ffffff;
}
.tab .news.title{
  margin-left: 18px;
  font-size: 14px;
}
.tab .news.content{
  margin-left: 18px;
  margin-right:11px;
  font-size: 12px;
}
.slider{
  position: relative;
  overflow: auto;
  width: 600px;
  text-align: center;
  background-image: url("../images/FooBar.png");
}
.slider img{
  width: 100%;
}
#slider .dots { position: absolute; left: 0; right: 0; bottom: 20px;}
#slider .dots li
{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 4px;
    text-indent: -999em;
    border: 2px solid #fff;
    border-radius: 6px;
    cursor: pointer;
    opacity: 1;
    -webkit-transition: background .5s, opacity .5s;
    -moz-transition: background .5s, opacity .5s;
    transition: background .5s, opacity .5s;
    background: #fff;
}
#slider .dots li.active
{
    background: #5fbff9;
    border-color: #5fbff9;
    opacity: 1;
}
.slider.detail{
  float: none;
  overflow: hidden;
  width: 465px;
}
.login{
  width: 236px;
  border: 1px solid #dfdfdf;
  border-left: 0;
}
.login img{
  float: left;
  margin: 30px 8px 23px 24px;
  width: 66px;
  height: 66px;
  border: 0;
  border-radius: 33px;
}
.login .greet{
  display: inline-block;
  margin-top: 40px;
  font-size: 16px;
  color: #333333;
}
.login a{
  display: inline-block;
  width: 84px;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background-color: #5fbff9;
  border-radius: 3px;
}
.login br.clear + a{
  margin-left: 24px;
  margin-right: 20px;
}
.login .guarantee{
  height: 120px;
  border-top: 1px solid #dfdfdf;
}
.guarantee h6{
  margin-top: 25px;
  font-size: 16px;
  color: #333333;
  text-align: center;
}
.user-center .login{
  float: right;
  border: 1px solid #dfdfdf;
}
.guarantee span{
  display: inline-block;
  width: 75px;
  font-size: 12px;
  text-align: center;
}
/*需求详情*/
.detail.content{
  margin-bottom: 50px;
}
.detail-content{
  display: inline-block;
  padding: 13px;
  width: 600px;
  height: 300px;
  border: 1px solid #dfdfdf;
}
.detail-content span{
  color: #aaa;
}
.detail .status{/*状态文字*/
  display: inline-block;
  margin-top: 30px;
  min-width: 100px;
  line-height: 36px;
  text-align: center;
  color: #333333;
  border-top: 1px solid #dfdfdf;
}
.detail-content h5{/*详情标题*/
  font-size: 18px;
}
.detail-content h6{/*需求详情字样*/
  font-size: 14px;
  color: #333;
  line-height: 45px;
  border-top: 1px solid #dfdfdf;
}
.detail-content .anchor{
  display: inline-block;
  width: 108px;
  line-height: 30px;
  text-align: center;
  border-radius: 3px;
}
.detail-content p{
  overflow: hidden;
  height: 120px;
  font-size: 14px;
  color: #666;
}
.anchor.pay{
  margin-top: 20px;
  background-color: #5fbff9;
  color: #ffffff;
}
.anchor.consult{
  margin-top: 10px;
  color: #5fbff9;
  border: 1px solid #5fbff9;
}
/*需求详情End*/

/*资讯详情Start*/
.news h6{
  text-align: center;
}
.news span.created_at{
  display: block;
  font-size: 14px;
  line-height: 56px;
  color: #999999;
  text-align: center;
  border-bottom: 1px solid #dfdfdf;
}
.news .content{
  text-align: center;
}
.news .content img{
  float: none;
  text-align: center;
}
.news .content p{
  text-align: left;
}
/*资讯详情End*/
.sub-title{

}
.sub-title h5{
  font-family:"Microsoft YaHei","微软雅黑","MicrosoftJhengHei","华文细黑","STHeiti","MingLiu";
  font-weight: bold;
  font-size: 24px;
  line-height: 90px;
}
.sub-title span{
  font-size: 16px;
  font-weight: normal;
  color: #666666;
}
.sub-title a{
  line-height: 90px;
  font-size: 24px;
  color: #5fbff9;
}

.sub-title.for-steps{
  margin-top: 36px;
  margin-bottom: 15px;
}
.steps{
  width: 1080px;
  margin: auto;
  padding-left: 60px;
  padding-top: 15px;
  height: 104px;
  border: 1px solid #afdaf5;
  background-color: #edf5fb;
  background-image: url("../images/Rectangle 10.png");
}
.step{
  display: inline-block;
  /*height: 104px;*/
}
.step2{
  margin-left: 150px;
}
.step3{
  margin-left: 110px;
}
.step *{
  text-align: center;
}
.step h6{
  font-size: 24px;
  color: #666666;
}
.step p{
  font-size: 18px;
  color: #666666;
}
#gallery{
  position: relative; overflow: auto; text-align: center;
  height: 137px;
}
#gallery li{
  float: right;
}
.information{
  position: relative;
  border: 1px solid #dfdfdf;
}
.information li.left-shade{
  position: absolute;
  border: 0px;
  padding: 0;
  width: 20px;
  height: inherit;
  line-height: normal;
  top: 0px;
  left: 0px;
  bottom: 0px;
}
.demand li.left-shade{
  top: 41px;
  bottom: 0px;
  height: inherit;
  line-height: normal;
  /*height: 607px;*/
}
.information li{
  overflow: hidden;
  padding-left: 20px;
  line-height: 76px;
  height: 76px;
  border-bottom: 2px dotted #cccccc;
  background-color: #F6F9FB;
}
li.head{
  border-bottom: 0;
}
li.last{
  border-bottom: 0;
}
.information .user{
  margin-right: 20px;
  padding-top: 18px;
  width: 131px;
  height: 76px;
}
.goods .user *{
  float: left;
  line-height: normal;
}
.goods .user img{
  margin-right: 10px;
  width: 40px;
  height: 40px;
}
.goods .user span{
  line-height: 23px;
  max-width: 80px;
}
.information li a{
  float: left;
  max-width: 800px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  color: #666666;
}
.information li a:hover{
  color: #5fbff9
}
.information.demand{
  margin-bottom: 50px;
}
.information.demand .head{
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  background-color: #eaf2fb;
}



/*发布Start*/
.publish-form{
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 20px;
  padding-bottom: 30px;
  width: 710px;
  background-color: #fbfcfd;
  border: 1px solid #dfdfdf;
}
.publish-form div.form-group{
  overflow: hidden;
}
.publish-form h6{
  padding-bottom: 16px;
  font-size: 20px;
  font-weight: normal;
  color: #666;
  text-align: center;
  border-bottom: 1px solid #666666;
}
.publish-form label{
  display: none;
}
.publish-form.demand label{
  display: block;
  float: left;
  width: 20%;
  font-size: 14px;
  color: #666;
  font-weight: normal;
  line-height: 33px;
  border-bottom: 1px solid #dfdfdf;
}
.publish-form.demand input{
  float: left;
  padding: 0;
  width: 80%;
  text-align: right;
  border-radius: 0;
}
.publish-form label.upload-btn {
  display: inline-block;
  width: 135px;
  height: 135px;
  text-align: center;
  border: 1px dotted #000;
}
.preview{
  margin-top: 40px;
}
.publish-form input{
  background-color: #fbfcfd;
  border: 0;
  border-bottom: 1px solid #dfdfdf;
  box-shadow: none;
}
.publish-form .btn{
  padding: 0;
  width: 570px;
  line-height: 40px;
  color: #fff;
  background: #5fbff9;
}
.banner.publish{
  height: 188px;
}
.publish .select{
  display: inline-block;
  margin-right: 70px;
  margin-bottom: 20px;
  width: 120px;
  line-height: 40px;
  border: 1px solid #aaaaaa;
  text-align: center;
  border-radius: 20px;
  color: #aaaaaa;
}
.publish .select:hover{
  border: 1px solid #5fbff9;
  background-color: #5fbff9;
  color: #ffffff;
  text-decoration: none;
}
.publish .selected{
  border: 1px solid #5fbff9;
  background-color: #5fbff9;
  color: #ffffff;
  text-decoration: none;
}
.anchors.publish{
  padding-top: 30px;
  border-top: 10px solid #f4f4f4;
  text-align: center;
}
.publish .anchor{/*发布页底部链接*/
  display: inline-block;
  width: 160px;
  line-height: 40px;
  font-size: 20px;
  color: #ffffff;
  background-color: #5fbff9;
}
.publish .anchor + br + span{
  font-size: 12px;
  line-height: 50px;
  color: #4fb5fb;
}
.publish .anchor + br + span a{
  color: #4fb5fb;
}
/*发布End*/

/*采购页Start*/
.information.purchase{
  border: 0;
}

.list-page.goods li{
  position: relative;
  width: 1080px;
  height: 140px;
  border: 1px solid #dfdfdf;
  background: none;
}
.list-page.goods li *{
  position: absolute;
  line-height: normal;

}
.list-page.goods .img{
  top: 20px;
  left: 20px;
  width: 154px;
  height: 100px;
}
.list-page.goods .avatar{
  top: 20px;
  left: 188px;
  width: 60px;
  height: 60px;
}
.list-page.goods .user-name{
  top: 30px;
  left: 250px;
  font-size: 20px;
  color: #333333;
}
.list-page.goods .created_at{
  top: 60px;
  left: 255px;
  color: #999999;
}
.list-page.goods .location{
  top: 60px;
  left: 368px;
  color: #666666;
}
.list-page.goods .comment{
  top: 100px;
  left: 188px;
  color: #666666;
}
.list-page.goods .anchor{
  top: 88px;
  left: 956px;
  width: 110px;
  line-height: 32px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  border-radius: 3px;
  background-color: #5fbff9;
}
.list-page.goods .anchor:hover{
  color: #ffffff;
}
.list-page.goods .anchor.outofdate{
  background-color: #999999;
}
/*采购页End*/
/*资讯列表Start*/
.list-page .news span{
  margin-right: 60%;
  float: left;
  line-height: normal;
  border: 0;
}
.list-page .news p{
  float: left;
}
.list-page .news a.pull-right{/*查看全文链接*/
  font-size: 18px;
  color: #0096e9
}
.news li{
  overflow: hidden;
  border-bottom: 1px solid #dfdfdf;
}
.news img{
  float: left;
  margin-right: 30px;
  width: 326px;
  height: 124px;
}
.news h6{
  font-size: 32px;
  color: #333333;
}
.news .created_at{
  display: inline-block;
  margin-bottom: 20px;
  color: #999999;
}
.news p{
  overflow: hidden;
  width: 720px;
  height: 83px;
  color: #666666;
}

/*资讯End*/

.demand li span{
  font-family:"Microsoft YaHei","微软雅黑","MicrosoftJhengHei","华文细黑","STHeiti","MingLiu";
  display: inline-block;
  overflow: hidden;
  width: 13.5%;
  font-size: 20px;
  color: #666666;
  text-align: center;
}
/*foot开始*/
.footer{
  padding-top: 100px;
  background-color: #08273c;
}
.footer .content{
  margin: auto;
  width: 100%;
  max-width: 1080px;
  height: 200px;
  color: #ffffff;
}
.clear{
  clear: both;
}
.pull-right{
  float: right;
}
.footer .content h6{
  font-size: 28px;
  font-weight: normal;
  color: #ffffff;
}
.footer .content img{
  width: 100px;
}
.footer .content a{
  margin-right: 70px;
  color: #ffffff;
}
.footer .content span{
  margin-right: 20px;
}
.pager *{
  margin-left: 10px;
  margin-right: 10px;
  font-size: 12px;
  color: #666666;
}
.pager a:hover{
  color:#4fb6fb;
}
.icon{
  display: inline-block;
  background-size: 100%;
}
.icon.purchase{
  float: left;
  width: 70px;
  height: 92px;
  background-image: url("../images/buy.png");
}
.icon.need{
  float: left;
  width: 78px;
  height: 78px;
  background-image: url("../images/shop.png");
}
.guarantee .icon{
  margin-left: 27px;margin-right: 27px;
}
.icon.infor{
  position: relative;
  top: -1px;
  width: 20px;
  height: 20px;
  background-image: url("../images/infor.png");
}
.icon.phone{
  width: 22px;
  height: 22px;
  background-image: url("../images/phone.png");
}
.icon.safe{
  width: 22px;
  height: 22px;
  background-image: url("../images/safe.png");
}



/*用户中心页Start*/
.user-center *{
  text-align: center;
}
.user-center .menu{
  width: 827px;
  border: 1px solid #dfdfdf;
}
.user-center .menu li.user-info img{
  width: 40px;
  border-radius: 20px;
}
.user-center .menu li.user-info{
  padding-left: 10px;
  line-height: 58px;
  text-align: left;
  border-bottom: 1px solid #dfdfdf;
}
.user-center li.anchors{
  overflow: hidden;
  padding-left: 10px;
  padding-top: 9px;
  padding-bottom: 9px;
  line-height: 38px;
}
.user-center li.anchors a{
  float: left;
  width: 20%;
  font-size: 16px;
  line-height: 20px;
  color: #666;
  border-left: 2px solid #dfdfdf;
}
.user-center li.anchors a:hover{
  text-decoration: none;
  color: #5fbff9
}
.user-center li.anchors.published{
  padding: 0;
  border-top: 1px solid #dfdfdf;
}
.user-center .published a.anchor{
  float: none;
  width: auto;
  display: inline-block;
  line-height: 38px;
  border-left: 0;
}
.user-center .published a.anchor:hover{
  border-bottom: 1px solid #5fbff9;
}
.user-center li.goods,
.user-center li.demand{
  overflow: hidden;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 60px;
  border-top: 1px solid #dfdfdf;
}
.user-center li.goods .anchor,
.user-center li.demand .anchor{
  margin-top: 17px;
  margin-left: 11px;
  width: 60px;
  line-height: 24px;
  color: #5fbff9;
  border: 1px solid #5fbff9;
  border-radius: 3px;
}
.user-center li.goods .anchor:hover,
.user-center li.demand .anchor:hover{
  text-decoration: none;
  background-color: #5fbff9;
  color: #fff;
}
.user-center li.headers{
  overflow: hidden;
  border-top: 1px solid #dfdfdf;
}
.user-center .demand span{
  float: left;
  width: 94px;
}
.user-center li.headers span{
  float: left;
  width: 94px;
  line-height: 40px;
}
.user-center li.auth{
  padding-top: 20px;
  border-top: 1px solid #dfdfdf;
}
.user-center li.auth label.for-file{
  display: inline-block;
  width: 135px;
  height: 135px;
  border: 1px dotted #000;
}
.user-center li.form{
  padding-left: 10px;
  padding-right: 10px;
}
.user-center li.form label{
  display: none;
}
.user-center li.form input{
  border: 0;
  border-bottom: 1px solid #dfdfdf;
  box-shadow: none;
}
.user-center li.form .btn{
  margin-top: 15px;
  margin-bottom: 15px;
  width: 570px;
  color: #fff;
  background-color: #5fbff9
}
button.delete{
  padding: 0;
  background: none;
}
li.authtodo{
  padding-top: 100px !important;
  padding-bottom: 100px;
}
/*用户中心页End*/
.border0{
  border: 0 !important;
}
label[for=demand-category_id]{
  display: none !important;
}
